<p id="notice"><%= notice %></p>

<h2>Welcome <%= @user.uname %></h2>

<p>This will look better i promise</p>

<h4>Your contributions:</h4>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
